/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  font-family:'poppins', sans-serif;
  background-color: #1c1f26;
  color: whitesmoke;
  font-size: 62.5%;
}
body{
  font-size: 2rem;
  padding:2rem;
}
header{
  width: 100%;
}
nav{
  width: 100%;
}
nav{
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
#logo{
  display:flex;
  padding:1rem;
  align-items: center;
}
#logo h1{
  margin:0 0.5rem;
}
#logo div{
  display: flex;
  font-size: 2.5rem;
  background-color: #2d343d;
  border-radius: 200px;
  height:2em;
  width: 2em;
  justify-content: center;
  align-items: center;
}
#links{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
#links li{
  background-color: #1175a0;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}
#links li:hover{
  opacity: 80%;
  -webkit-animation: pulse 0.5s;
  transition: .5s ease;
}
nav a{
  color: white;
  text-decoration: none;
}

.button{
  align-self: center;
  justify-self: right;
  background-color: #1175a0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.button:hover{
  opacity: 80%;
  -webkit-animation: pulse 0.5s;
}
.panel{
  height: 50rem;
  padding:5rem;
  margin:2rem 0;
  border-radius: 20px;
}
/* slider */
.slider{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 1)),
  url(background.jpg) no-repeat;
  background-size: 100% 100% ;
  height:80vh;
}
.slider p,.slider h3{
  width:50%;
  margin:2rem 0;
}
.slider button{
  display: block;
  width:20rem;
  padding: 1rem 0;
  margin:5rem 0;
  background-color: #1175a0;
  border: none;
  color: white;
  font-size: 2rem;
}
.slider h3{
  font-size:5rem;
  font-weight: bold;
}
/* skills */
.skills{
  display: grid;
  background-color: #2d343d;
  grid-template-columns: 50% 2rem 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
}
.skill img{
  height: 4rem;
  width: 4rem;
}
.skill{
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill:hover{
  -webkit-animation: pulse 0.5s;
}
.declaration{
  grid-area: 1/1/5/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1175a0;
  border-radius: 20px;
  font-size: 6rem;
}
.circle{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  background-color: #56c2f0;
  border-radius: 100px;
  height: 7rem;
  width: 7rem;
}
.HTML{
  grid-area: 2/4/3/5;
}
.CSS{
  grid-area: 2/5/3/6;
}
.Javascript{
  grid-area: 3/4/4/5;
}
.wordpress{
  grid-area:4/5/3/6;
}
.git{
  grid-area:2/6/3/7
}
.github{
  grid-area:3/6/4/7
}

/* portfolio */
.portfolio{
  height: 100vh;
  background-color: #2d343d;
}
.portfolio>span{
  display:block;
  margin: 0 auto;
  width: 20rem;
  height:5rem;
  text-align: center;
  font-size: 5rem;
  box-sizing: border-box;
}
.portfolio span:hover{
  border-bottom: 2px solid white;
}

.container{
  display: grid;
  grid-template:5% auto 2rem 5%/ 5% 1fr 1fr 1fr 5%;
  height: 100%;
  padding:2rem;
}
.page{
  display: flex;
  justify-content: center;
  /* align-items: end; */
  width: 100%;
  height: 100%;
  /* margin:0 2rem; */
  flex-grow: 1;
  padding: 1rem;
  border-radius:20px;
}
.forexLaw{
  background: url(../img/background.jpg) no-repeat;
  background-size: 100% 100%;
  grid-area: 2/2/3/3;
}
.forex-Law{
  grid-area: 3/2/4/3;
}
.empty-2{
  grid-area:2/3/3/4;
}
.Empty-2{
  grid-area: 3/3/4/4;
}
.empty-3{
  grid-area:2/4/3/5;
}
.Empty-3{
  grid-area: 3/4/4/5;
}
.Page-label{
  position: relative;
  top:5px;
  justify-self: center;
}

/* footer */

footer.contact.panel{
  height: 20vh;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #2d343d;
}
footer div{
  display: flex;
  width:10rem;
  justify-content: space-between;
}
footer div div{
  cursor: pointer;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.intro{
  position:fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width:100%;
  height: 100vh;
  background-color: #1c1f26;
  transition: 1.5s;
}
.logoHeader{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%); 
}
.introLogo{
  position: relative;
  display: inline-block;
  bottom:-20px;
  opacity: 0;
}
.introLogo.active{
  bottom:0;
  opacity: 1;
  transition: ease-in-out .5s;
}
.introLogo.fade{
  bottom:150px;
  opacity: 0;
  transition: ease-in-out .5s;
} 

/* 
#2FA12F green
#f92571 magenta
#fd7300 orange
#56c2f0 blue
#2F3B52 background 1 1c1f26
#242E42 background 2 262a30
*/